body{
    background-color: rgb(235, 219, 190);
}
h1{
    text-align: center;
    font-size: 50px;
    color: #5d0808;
    margin: 20px;
}
.titleFive{
    text-align: left;
    font-size: 30px;
    color: #db1010;
    margin: 1;
    border-top: 2px solid #3d0202;
}
.titleFor{
    text-align: left;
    font-size: 30px;
    color: #db1010;
    margin: 1;
    border-top: 2px solid #3d0202;
}
.titleThree{
    text-align: left;
    font-size: 30px;
    color: #db1010;
    margin: 1;
    border-top: 2px solid #3d0202;
}
.titleTwo{
    text-align: left;
    font-size: 30px;
    color: #db1010;
    margin: 1;
    border-top: 2px solid #3d0202;
}
.titleOne{
    text-align: left;
    font-size: 30px;
    color: #db1010;
    margin: 1;
    border-top: 2px solid #3d0202;
}
.box1{
    /* border-bottom: 2px solid #3d0202; */
    border-bottom: 3px solid #5d0808;
    padding: 10px;
}
.box2{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* h2{
    text-align: left;
    font-size: 45px;
    color: #db1010;
}
h3{
    text-align: left;
    font-size: 45px;
    color: #db1010;
}
h4{
    text-align: left;
    font-size: 45px;
    color: #db1010;
}
h5{
    text-align: left;
    font-size: 45px;
    color: #db1010;
}
h6{
    text-align: left;
    font-size: 45px;
    color: #db1010;
} */


